@import url(https://fonts.googleapis.com/css?family=Quicksand);

p {
    font-family: "Quicksand", sans-serif;
}


h1{
    color: coral;
}

.card {

    max-width: 250px;
    min-width: 200px;
}

.card-img-top {
    height: 240px;
}


#cartBtn{
    width: 10vw;
}

#cartImage{
    width: 20px;
    height: auto;
}

