h1{
    color: coral;
}

.card-img-top{
    min-width: 150px;
    max-width: 150px;
    padding: 2em;
    margin-right: auto;
    margin-left: auto;
}

#cartBtn{
    width: 50%;
}

#cartImage{
    width: 20%;
    height: auto;
}

